/* Paragraphe */
p.erreur
{
  font-weight: bolder;
  color: red;
}
/* Corps */
body
{
	background-color:#5eb6dd;
	font-family: 'Calibri', 'Amaranth', sans-serif;
	color:#44546a;
	overflow-y: scroll;
	font-size: 20px;
}
/* Titres */
h1
{
	color:#000066;
	font-family: 'Cambria', cursive;
	text-transform: uppercase;
	font-size: 20px;
}

header, section, footer,nav
{
	position: relative;
	left: 5%;
	width:90%;
}
/* En-tête */
header
{
	margin-top: 40px;
	height:300px;
}
a.bouton_co
{
	float:right;
	margin-top:20px;
	margin-right:5%;
}
a.bouton_deco
{
	float:right;
	margin-top:20px;
	margin-right:10%;
}
a.bouton_inscr
{
	float:right;
	margin-top:20px;
	margin-right:5%;
}
/* Image bannière */
img.logo
{
	margin-top:20px;
	padding-left:5.7%;
	width:45%;	
}
/* Menu */
nav
{
	text-align:center;
	margin-top: 20px;
	background-color:#ffffff;
	height:50px;
}
nav a
{
	line-height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Cambria', cursive;
	font-weight:bold;
	text-transform: uppercase;
	color: #000066;
	text-decoration: none;
	font-size: 22px;
	transition: color linear 0.35s;
}
nav a:hover 
{
	color: #0099cc;
	background:url('images/favicon.png') no-repeat;	/* permet d'afficher le logo */
	border: 0;
	background-size: 100%;						/* sur chaques lien du menu */
	background-size: 20px 20px;
	height:40;
}
/* Sections */
section
{
	margin-top: 20px;
	background-color:#ffffff;
	padding:10px;
	padding-left:30px;
	width:87%;
}
/* Pied de page */
footer
{
	margin-top:20px;
	color:#d6bfa7;
	padding:10px;
	width:980px;
	text-align:center;
}
/* Div */
div.entete
{
	display:inline-block;
}

/* Boutons */
.bouton_co {
	-moz-box-shadow:inset 0px 1px 4px -1px #caefab;
	-webkit-box-shadow:inset 0px 1px 4px -1px #caefab;
	box-shadow:inset 0px 1px 4px -1px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #5cb811;
	display:inline-block;
	color:#306108;
	font-family: 'Amaranth', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:130px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 6px #aade7c;
}
.bouton_co:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.bouton_co:active {
	position:relative;
	top:1px;
}
.bouton_deco {
	-moz-box-shadow:inset 0px 1px 4px -1px #f29c93;
	-webkit-box-shadow:inset 0px 1px 4px -1px #f29c93;
	box-shadow:inset 0px 1px 4px -1px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#610808;
	font-family: 'Amaranth', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 5px #b23e35;
}
.bouton_deco:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.bouton_deco:active {
	position:relative;
	top:1px;
}
.bouton_inscr {
	-moz-box-shadow:inset 0px 1px 4px -1px #3399CC;
	-webkit-box-shadow:inset 0px 1px 4px -1px #3399CC;
	box-shadow:inset 0px 1px 4px -1px #3399CC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0033FF), color-stop(1, #0000CC) );
	background:-moz-linear-gradient( center top, #0033FF 5%, #0000CC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0033FF', endColorstr='#0000CC');
	background-color:#0033FF;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0;
	border:1px solid #0066FF;
	display:inline-block;
	color:#000066;
	font-family: 'Amaranth', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 5px #0066CC;
}
.bouton_inscr:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000CC), color-stop(1, #0033FF) );
	background:-moz-linear-gradient( center top, #0000CC 5%, #0033FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000CC', endColorstr='#0033FF');
	background-color:#0000CC;
}.bouton_inscr:active {
	position:relative;
	top:1px;
}